.home-container {
  width: 100%;
  display: flex;
  z-index: 100;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("/grafiche/photo_2023-11-20_16-58-24%20(2)-1500w.jpg");
}
.home-home {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: 1001px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-logo {
  width: 436px;
  height: 436px;
  z-index: 50;
  align-self: center;
}
.home-registrati {
  color: #5D5C5C;
  width: 300px;
  height: 51px;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #292929;
  margin-top: var(--dl-space-space-threeunits);
  text-align: center;
  border-width: 0px;
  border-radius: 30px;
  padding-bottom: 0.5rem;
  text-decoration: none;
  background-color: #E7E4E0;
}
.home-text {
  color: rgb(92, 92, 92);
  width: 157px;
  height: auto;
  font-size: 16px;
  align-self: center;
  font-style: Bold;
  text-align: center;
  font-family: "Arimo";
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-accedi {
  color: #5D5C5C;
  width: 300px;
  height: 51px;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #292929;
  text-align: center;
  border-width: 0px;
  border-radius: 30px;
  text-decoration: none;
  background-color: #E7E4E0;
}
.home-text3 {
  color: rgba(92, 92, 92, 1);
  width: 157px;
  height: auto;
  font-size: 16px;
  align-self: center;
  font-style: Bold;
  text-align: center;
  font-family: Arimo;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
