.visualizza-eventi-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #e7e4e0;
}
.visualizza-eventi-listaeventi {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  top: 40px;
}
