.itinerario-lista-container {
  width: 150px;
  height: 150px;
  margin: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: stretch;
  border-color: #c462ed;
  border-width: 2px;
  border-radius: 15px;
  flex-direction: column;
  justify-content: center;
  background-image: radial-gradient(circle at center, rgb(169, 55, 238) 0.00%,rgb(225, 146, 34) 100.00%);
}
.itinerario-lista-titolo {
  color: var(--dl-color-gray-white);
  width: auto;
  height: auto;
  font-size: 16px;
  align-self: center;
  font-style: Bold;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: "Arimo";
  font-weight: 700;
  line-height: normal;
  margin-left: var(--dl-space-space-halfunit);
  font-stretch: normal;
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.itinerario-lista-icon {
  fill: var(--dl-color-gray-white);
  width: 40px;
  height: 40px;
  align-self: center;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.itinerario-lista-root-class-name {
  align-self: center;
}
.itinerario-lista-root-class-name1 {
  align-self: center;
}
.itinerario-lista-root-class-name2 {
  align-self: center;
}
