.itinerario-lista-container {
  width: auto;
  display: flex;
  position: relative;
  border-radius: 15px;
  margin-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.itinerario-lista-list-item {
  width: 221px;
  display: flex;
  border-color: #d0d0d0;
  border-width: 2px;
  border-radius: 15px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.itinerario-lista-icon {
  fill: #765ce1;
  width: 30px;
  height: 30px;
  align-self: center;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.itinerario-lista-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  justify-content: center;
}
.itinerario-lista-titolo {
  color: rgb(92, 92, 92);
  width: auto;
  height: auto;
  font-size: 16px;
  align-self: center;
  font-style: Bold;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: "Arimo";
  font-weight: 700;
  line-height: normal;
  margin-left: var(--dl-space-space-halfunit);
  font-stretch: normal;
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.itinerario-lista-icon2 {
  fill: #765ce1;
  width: 40px;
  height: 40px;
  align-self: center;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.itinerario-lista-root-class-name {
  align-self: center;
}
.itinerario-lista-root-class-name1 {
  align-self: center;
}
.itinerario-lista-root-class-name2 {
  align-self: center;
}
