.main-menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-menu-menubar-default {
  display: flex;
  align-items: center;
  height: 90px;
  background-size: cover;
  background-image: url("/external/menubar2543-13cn.svg");
  background-position: center;
}

.main-menu-menubar-user,
.main-menu-menubar-itinerary,
.main-menu-menubar-favorites,
.main-menu-menubar-events {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 82px;
  background-size: cover;
  background-image: url("/external/menubar2543-13cn.svg");
  background-position: center;
}

.main-menu-navlink {
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
}

.main-menu-usericon,
.main-menu-itineraryicon,
.main-menu-favoritesicon,
.main-menu-eventsicon {
  fill: #d9d9d9;
  width: 30px;
  height: 30px;
}

.main-menu-root-class-name {
  position: fixed;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/* Aggiungi regole per gli altri root class name se necessario */
.main-menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-menu-menubar-default {
  display: flex;
  align-items: center;
  height: 90px;
  background-size: cover;
  background-image: url("/external/menubar2543-13cn.svg");
  background-position: center;
}

.main-menu-menubar-user,
.main-menu-menubar-itinerary,
.main-menu-menubar-favorites,
.main-menu-menubar-events {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 82px;
  background-size: cover;
  background-image: url("/external/menubar2543-13cn.svg");
  background-position: center;
}

.main-menu-navlink {
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
}

.main-menu-usericon,
.main-menu-itineraryicon,
.main-menu-favoritesicon,
.main-menu-eventsicon {
  fill: #d9d9d9;
  width: 30px;
  height: 30px;
}

.main-menu-root-class-name {
  position: fixed;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/* Aggiungi regole per gli altri root class name se necessario */
